##################################################
# BACKUP
##################################################

*.zip
*.rar
*.7z

##################################################
# DATABASE
##################################################

*.sql
*.sql.gz

##################################################
# LOGOVI
##################################################

*.log

##################################################
# PRIVREMENI FAJLOVI
##################################################

*.tmp
*.bak
*.old

##################################################
# WINDOWS
##################################################

Thumbs.db
Desktop.ini

##################################################
# macOS
##################################################

.DS_Store

##################################################
# IDE
##################################################

.vscode/
.idea/

##################################################
# ENV (za kasnije)
##################################################

.env
.env.local

##################################################
# TEST FAJLOVI
##################################################

phpinfo.php
test.php
hash.php
set_admin_password.php